#stats { position: absolute; top:0; left: 0; z-index: 9999; }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #aaa !important }
#stats #fps #fpsGraph { display: none }

body {
    font-family: Monospace;
    background-color: #000;
    color: #000;
    margin: 0px;
    overflow: hidden;
}